@model Vidly.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Customers", FormMethod.Post, new { @class = "form-horizontal" }))
{
    // Name
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Name):
        @Html.TextBoxFor(c => c.Customer.Name, new { @class = "form-control", placeholder = "Jane Doe" })
        @Html.ValidationMessageFor(c => c.Customer.Name)
    </div>

    // Birthdate
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Birthdate):
        <div class="input-group date" data-provide="datepicker">
            @Html.TextBoxFor(c => c.Customer.Birthdate, "{0: MM/d/yyyy}", new { @class = "form-control", placeholder = "mm/dd/yyyy" })
            <div class="input-group-addon">
                <i class="fa fa-calendar" style="margin: 8px 10px; font-size: 20px" aria-hidden="true"></i>
            </div>
        </div>
        @Html.ValidationMessageFor(c => c.Customer.Birthdate)
    </div>

    // Membership Type
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.MembershipTypeId):
        @Html.DropDownListFor(c => c.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Customer.MembershipTypeId)
    </div>

    // Checkbox
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribeToNewsLetter) Subscribed to Newsletter?
        </label>
    </div>

    // Hidden Field
    @Html.HiddenFor(c => c.Customer.Id);

    // Save
    <button type="submit" class="btn btn-success">Save</button>
}

<script>
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '-3d'
    });
</script>